
@media  screen and (max-width: 1920px) {
	.blog-card-wrap .grid {
		grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));
	}
	.inner_why_us_wrap {
		grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
	}
}

@media screen and (max-width:1600px) {
	.desktop-menu {
		grid-gap: 40px;
	}
	.banner-content {
		max-width: 950px;
	}
	.banner-content {
		max-width: 950px;
	}

	/* .banner-content h1 {
		font-size: 70px;
	} */

	.site-nav li a.secondary-btn {
		font-size: 16px;
	}

	
	.section-title {
		font-size: 46px;
	}

	.site-banner {
		height: 950px;
	}

	
}

@media screen and (max-width:1400px) {
	.desktop-menu {
		display: flex;
		justify-content: space-between;
	}
	.site-banner.inner-banner .banner-content {
		padding: 0;
	}
	.mobile-menu {
		display: block;
	}

	.desktop-menu .site-nav {
		display: none;
	}

	.site-header {
		backdrop-filter:none;
	}
	.site-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 350px;
		background: var(--black);
		transition: 0.4s cubic-bezier(0, 0, 0.13, 0.61);
		transform: translateX(-100%);
		z-index: 99;
		overflow-y: auto;
	}

	.site-nav ul {
		display: block;
		padding: 100px 60px 0;
	}

	.site-nav li {
		margin: 0 0 20px;
	}

	.site-nav li a {
		color:#fff;
	}
	.site-header.sticky .site-nav li ul.submenu li a {
		color:#fff;
	}
	.menu-toggle {
		display: block;
	}

	.nav-right {
		margin-left: auto;
		margin-right: 20px;
	}


	.site-nav .closed-menu {
		font-size: 40px;
		color: #fff;
		position: absolute;
		top: 25px;
		right: 15px;
		display: inline-block;
	}

	.site-nav li ul.submenu {
		position: static;
		width: 100%;
		display: none;
	}


	.site-nav li:hover ul.submenu {
		background: transparent;
		transition: none;
	}	
	.toggle .site-nav {
		transform: translateX(0);
	}

	.site-logo img {
		max-width: 180px;
	}

	.site-banner {
		height: 800px;
	}

	.banner-content h1 {
		font-size: 52px;
	}

	.banner-content {
		max-width: 850px;
	}

	.section-title {
		font-size: 36px;
	}

	.sub-title {
		font-size: 26px;
		max-width: 840px;
	}

	.accrodtion-card .accordion .accordion-button {
		font-size: 26px;
	}

	.why_box h3 {
		font-size: 26px;
	}

	.why_box {
		padding: 44px 24px;
	}

	.why_box p {
		font-size: 22px;
	}

	
	.accrodtion-card .accordion .accordion-body {
		font-size: 22px;
	}

	.accrodtion-card p {
		font-size: 22px;
	}

}

@media screen and (max-width:1200px) {
	.blog-card-wrap .grid {
		grid-gap: 20px;
	}

	.footer-links {
		padding-left: 30px;
	}
	

	.secondary-btn {
		padding: 16px 22px;
		font-size: 18px;
	}

	.primary-btn {
		padding: 16px 22px;
		font-size: 18px;
	}


	.section-title {
		font-size: 32px;
	}

	.sub-title {
		font-size: 24px;
		max-width: 600px;
	}


	.accrodtion-card .accordion .accordion-button {
		font-size: 22px;
	}

	.accrodtion-card .accordion .accordion-body {
		font-size: 20px;
	}


	.accrodtion-card p {
		font-size: 20px;
	}

}

@media screen and (max-width:1024px) {

	.banner-content h1 {
		font-size: 42px;
	}

	.site-banner {
		height: 700px;
	}

	.section-title {
		font-size: 28px;
	}

	.sub-title {
		font-size: 22px;
		max-width: 600px;
	}

	.banner-content h1 {
		font-size: 40px;
	}

	.banner-content {
		max-width: 600px;
	}

}

@media screen and (max-width:991px) {

	.accrodtion-card {
		padding: 80px 25px;
	}
	.img_part {
		height: 500px;
	}
	.accrodtion-card .accordion .accordion-button {
		font-size: 20px;
		padding: 20px 0;
	}

	
	.section-title {
		font-size: 26px;
	}

	.sub-title {
		font-size: 20px;
		max-width: 100%;
	}


	.accrodtion-card p {
		font-size: 18px;
	}
	.footer-top {
		grid-template-columns: repeat(1, 1fr);
	}

	.travel-smarter.what-we-do .row {
		flex-direction: column-reverse;
	}

	.travel-smarter-image {
		margin-top: 40px;
	}

	.inner_banner_img {
		height:500px;
	}
	.footer-links {
		padding-left: 0;
	}

}


@media screen and (max-width:768px) {
	.site-logo img {
		max-width: 120px;
	}
	.site-logo a {
		width: 120px;
	}
	.Why-banner {
		height: 550px;
	}
	.accrodtion-card {
		padding: 40px 25px;
	}


	.banner-content h1 {
		font-size: 34px;
	}

	.accrodtion-card .accordion .accordion-body {
		font-size: 18px;
	}
	.Why-banner .common-text h2 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.Why-banner .common-text p {
		margin-bottom: 20px;
		font-size: 18px;
	}
	.footer-bottom {
		flex-direction: column;
		justify-content: center;
	}
	.popular-areas {
		padding: 60px 0;
	}
}

@media screen and (max-width:575px) {

	.site-nav {
		max-width: 100%;
	}
	.travel-smarter-content h2 {
		font-size: 32px;	
	}
	.site-logo img {
		max-width: 90px;
	}

	.banner-content h1 {
		font-size: 28px;
	}


	.secondary-btn {
		padding: 12px 22px;
		font-size: 16px;
	}

	.call-us a {
		font-size: 14px;
	}
	.primary-btn {
		padding: 8px 16px;
		font-size: 14px;
	}

	.section-title {
		font-size: 24px;
	}

	.sub-title {
		font-size: 18px;
	}

	.site-banner {
		height: 550px;
	}
	.site-logo a {
		height: 40px;
		width: 120px;
	}
	.banner-img::after {
		bottom: 0px;
		max-width: 350px;
		background-size: contain;
	}
	
	.banner-img::before {
		background-repeat: no-repeat;
		background-size: contain;
	}
	.Why-banner .common-text h2 {
		font-size: 32px;
		margin-bottom: 20px;
	}

	h3.banner-subheading {
		font-weight: 700;
		font-size: 17px;
	}
	
	.inner-banner p {
		font-size: 17px;
	}
	.sub_pages_slider_sec .popular-card-content h4 {
		font-size: 20px;
	}
	
	.popular-card-content p {
		font-size: 16px;
	}
	.text_part h3 {
		font-size: 1.5rem;
	}
	.text_part {
		padding: 4rem 1.875rem 0;
	}

	.py-80 {
		padding: 4rem 0;
	}
	.get-started-form form {
		grid-template-columns: 100%;
	}
	
}

@media screen and (max-width:480px) {
	.banner-content h1 {
		font-size: 24px;
		line-height: 1.7;
	}

	.section-title {
		font-size: 22px;
	}

	.sub-title {
		font-size: 17px;
	}

	.listing-card-header p {
		font-size: 20px;
	}

	.listing-card-content li {
		font-size: 16px;
	}

	.listing-card-header {
		padding: 20px 15px 20px;
	}

	.listing-card-footer {
		padding: 20px 15px;
	}

	.listing-card-content {
		padding: 20px 15px;
	}

	.listing-card-header p {
		font-size: 18px;
	}


}

